
    <label for="books">Buch auswählen:</label>
    <select style="display:block" id="titleDropDown">
    </select> 
    <div class="input-field">
        <label for="title" class="active">Titel</label>
        <input id="title" type="text" required placeholder="Example: The Catcher in the Rye">
    </div>
    <div class="input-field">
        <label for="subtitle" class="active">Untertitel</label>
        <input id="subtitle" type="text" placeholder="Example: A Novel">
    </div>
    <div class="input-field">
        <label for="isbn" class="active">ISBN</label>
        <input id="isbn" type="text" pattern="\d*" required placeholder="Example: 9780316769488">
    </div>
    <label class="author-label">Autoren</label>
    <div id="author-container">
        <div class="author-input-set">
            <div class="input-field inline">
                <label for="authorFirstName-1" class="active">Vorname</label>
                <input id="authorFirstName-1" type="text" required placeholder="Example: John">
            </div>
            <div class="input-field inline">
                <label for="authorLastName-1" class="active">Nachname</label>
                <input id="authorLastName-1" type="text" required placeholder="Example: Doe">
            </div>
                   
        </div>
    </div>
    <button id="add-author" type="button" class="btn waves-effect waves-light">Autor hinzufügen</button>
    <div class="input-field">
        <label for="releaseYear"  class="active">Veröffentlichungsjahr</label>
        <input id="releaseYear" max="2023" type="number" required placeholder="Example: 1951">
    </div>
    <div class="input-field">
        <label for="edition"  class="active">Auflage</label>
        <input id="edition" max="100" pattern="\d*" type="number" placeholder="Example: 1, 2, 3, 4, ...">
    </div>
    <div class="input-field">
        <label for="publisher" class="active">Veröffentlicher</label>
        <input id="publisher" type="text" required placeholder="Example: Little, Brown and Company">
    </div>
    <button class="btn waves-effect waves-light" type="submit">Submit</button>
    <button class="btn waves-effect waves-light" type="reset">Clear</button>