h3{
  margin:0px;
  padding: 0px;
}



.row .col.s9{
  padding-right: 0px;
}

.collection-item {
  font-weight: 600;
}

.collection-item.active {
  background-color: #26a69a;
}

.contribute-area {
  min-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.author-input-set {
  display: flex;
  justify-content:center;
  align-items:center;
}

.author-input-set .input-field {
  flex-grow: 1;
  margin-right: 5px;
}

.remove-author {
  justify-content: center;
  display: flex;
  align-items:center;
}

#add-author {
  margin-bottom: 15px;
}

label:not(.active) {
  font-size: 1.4rem;
  color: #1f1f1f;
  margin-bottom: 5px;
  position: relative;
}

label.active {
  font-size: 1.2rem;
  color: #1f1f1f;
  margin-bottom: 10px;
  position: relative;
}

input::placeholder {
  color: #7e7e7e;
}

.input-field{
  background-color:white;
  padding:10px;
  border-radius:4px;
}

#content{
    background-color:#26a69927;
    padding:20px;
    border-radius:4px;  
}

